.carousel {
  .img-top {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40rem;

    > img {
      width: 50%;
    }

    .intro > h1 {
      @include styleText($fs-2, $fw-2, $color-purple-2);
      margin-bottom: $mg-6;
      text-transform: uppercase;
    }
    .intro > p {
      position: relative;
      z-index: 1;
      display: block;
      @include styleTextBasic($fs-4, $fw-2);
    }
  }
}
