// .header {
//   background-color: $color-transparent-1;
//   .nav {
//     overflow: hidden;
//     top: 0;
//     width: 100%;
//   }
//   .container {
//   }
//   .nav > a {
//     margin: $mg-2;
//     text-decoration: none;
//     @include styleText($fs-1, $fw-2, $color-dark-1);
//   }
//   .nav > a:hover {
//     color: $color-purple-1;
//     border-bottom: 2px solid $color-purple-1;
//   }
//   .left-box {
//     display: flex;
//   }
//   .right-box {
//     .right-box__contact {
//       background-color: $color-purple-2;
//       border-radius: 50px;
//       padding: $pd-9 $pd-10;
//       color: $color-white-1;
//     }
//     .contact:hover {
//       color: $color-purple-1;
//       background-color: $color-white-1;
//       border: 1px solid $color-purple-1;
//     }
//   }
//   .right-box > a {
//     margin: 0 10px;
//     text-decoration: none;
//     color: $color-dark-1;
//   }
//   .right-box > a:hover {
//     color: $color-purple-1;
//   }
// }
.navbar {
  background-color: $color-transparent-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .nav__item {
    a {
      margin: $mg-5;
      text-decoration: none;
      @include styleText($fs-1, $fw-2, $color-dark-1);
    }
    a:hover {
      color: $color-purple-1;
      border-bottom: 3px solid $color-purple-1;
    }
    .nav-item__phone {
      a {
        border: 1px solid $color-purple-1;
        background-color: $color-purple-1;
        color: $color-white-1;
        border-radius: $bd-r-3;
        font-weight: $fw-2;
        line-height: 2;
      }
      a:hover {
        color: $color-purple-1;
        background-color: $color-white-1;
        border: 1px solid $color-purple-1;
      }
    }
    .nav-item__social {
      a {
        border-bottom: none;
      }
    }
  }
}
