* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #00000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar .nav__item a {
  margin: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #191919;
}

.navbar .nav__item a:hover {
  color: #bc2d8f;
  border-bottom: 3px solid #bc2d8f;
}

.navbar .nav__item .nav-item__phone a {
  border: 1px solid #bc2d8f;
  background-color: #bc2d8f;
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  line-height: 2;
}

.navbar .nav__item .nav-item__phone a:hover {
  color: #bc2d8f;
  background-color: #fff;
  border: 1px solid #bc2d8f;
}

.navbar .nav__item .nav-item__social a {
  border-bottom: none;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid,
  .navbar-expand-sm > .container-sm,
  .navbar-expand-sm > .container-md,
  .navbar-expand-sm > .container-lg,
  .navbar-expand-sm > .container-xl {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-xl {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.carousel .img-top {
  width: 100%;
}

.carousel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40rem;
}

.carousel .container > img {
  width: 50%;
}

.carousel .container .intro > h1 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.carousel .container .intro > p {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 3.8rem;
  font-weight: 600;
}

.team {
  background-image: url("/assets/images/Wave_White_bottom_right_shape_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 2rem 0;
}

.team .cardTeam {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: white;
  display: block;
}

.team .cardTeam > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  margin: 0;
  line-height: 0;
  width: 100%;
  height: auto;
}

.team .cardTeam .zoom:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
}

.team .cardTeam h3 {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  display: block;
  font-size: 1.55rem;
  font-weight: 700;
}

.team .cardTeam .card-body {
  width: 100%;
  height: auto;
}

.team .cardTeam .card-body > p:first-child {
  text-transform: uppercase;
  padding: 0 0 0.4em;
  line-height: 1.2;
  clear: both;
  margin: 0;
  text-align: center;
  margin-bottom: 0.7em;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bc2d8f;
}

.team .cardTeam .card-body > p:nth-child(3) {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 400;
}

.team .cardTeam:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
  background-image: url("/assets/images/accent_bottom_wave_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 2rem 0;
}

.contact .container > img {
  width: 50%;
  height: auto;
}

.contact .container .form-box {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  text-align: left;
  z-index: 1;
}

.contact .container .form-box .form-box-item {
  border-radius: 18px;
  margin-bottom: 10px;
  padding: -1rem -1rem 1rem 3.5rem;
  font-size: 15px;
}

.contact .container .form-box .form-box__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #191919;
}

.contact .container .form-box .form-box__btn {
  line-height: 3.1rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  background-color: #b61984;
  padding: 0px 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.contact .container .form-box .form-box__btn:hover {
  background-color: #fff;
  color: #b61984;
  border: 1px solid #bc2d8f;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.footer {
  background-image: url("/assets/images/footer_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 160px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.footer .container .footer-content__info {
  text-transform: capitalize;
  color: #fff;
}

.footer .container .footer-content__info h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
}

.footer .container .footer-content__info a {
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.footer .container .footer-content__info p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .container .footer-content__info .footer-content__item {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.footer .container .footer-content__info .footer-newsleter__email {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  height: 3.2rem;
  text-align: center;
  background-color: #b61984;
}

.footer .container .footer-content__info .footer-newsleter__email ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.footer .container .footer-content__info .footer-newsleter__email :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.footer .container .footer-content__info .footer-newsleter__email ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.footer .container .footer-content__info .footer-newsleter__email ::placeholder {
  color: #fff;
  opacity: 1;
}

.footer .container .footer-content__info button {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  height: 3.2rem;
  text-align: center;
}

.footer .container .footer-content__info button:hover {
  background-color: #bc2d8f;
  border: 1px solid #fff;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */